#scheduler {
	.first-h {
		margin-top: 0;
	}

	.add-appt-btn {
		cursor: pointer;
		border: 3px dashed #bbbbbb;
		border-radius: 8px;
		height: 160px;
		
		/* Vertically aligns content within it */
		line-height: 150px;
    	text-align: center;

		i {
			font-size: 48px;
			color: #bbbbbb;
			font-weight: 700;

			/* Responsible for vertically aligning the text */
			display: inline-block;
    		vertical-align: middle;
    		line-height: normal;
		}
	}
}