<div class="availability-card" ng-class="{'disabled': disabled}">
	<div class="ac-header">
		<div class="pull-left">{{moment|cardTimeToNow}}</div>
		<div class="pull-right">{{moment|cardDay}}</div>
	</div>
	<div class="ac-body">
		<div class="ac-center">
			<span class="ac-center-content">
				<div class="ac-date">
					{{moment|cardDate}}
				</div>
				<div class="ac-time">
					{{moment|cardTime}}
				</div>
				<!-- <div class="ac-day">
					{{moment|cardDay}}
				</div> -->
			</span>
		</div>
	</div>
</div>