<div id="scheduler">
    <!-- Scheduler tab -->
    <div ng-init="tab = 0" ng-show="tab === 0 && myAppts.length < 4">

        <h2 class="first-h">Let's meet.</h2>
        <p>Schedule regular appointments with your coach to set a strong foundation and get the most out of Arivale.<br/>Check out what we have available with your coach, <strong>{{coachName}}</strong>.</p>

        <!-- Appointments link -->
        <div ng-show="myAppts.length > 0" class="alert alert-info">
            You are already scheduled for <strong><a href ng-click="tab = 1">{{myAppts.length}} <ng-pluralize count="myAppts.length" when="{'1': 'appointment', 'other': 'appointments'}"></ng-pluralize></a></strong>. This might affect the availabilities below.
        </div>

        <!-- ASAP Availabilities -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Soonest Availabilities</h3>
            </div>
            <div class="panel-body">
                <div class="row avail-group">
                    <div class="col-sm-4" ng-repeat="avail in availsAsap | limitTo: asapLimit">
                        <availability-card moment="avail" disabled="refreshingData" ng-click="makeAppointment(avail)"></availability-card>
                    </div>
                </div>
                <div class="row" ng-show="availsAsap.length > asapLimit">
                    <div class="col-xs-12 text-center"><a href ng-click="seeMore(availsAsap)">See more...</a></div>
                </div>
            </div>
        </div>

        <!-- Morning Availabilities -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Morning Availabilities</h3>
            </div>
            <div class="panel-body">
                <div class="row avail-group">
                    <div class="col-sm-4" ng-repeat="avail in availsMornings | limitTo: morningsLimit">
                        <availability-card moment="avail" disabled="refreshingData" ng-click="makeAppointment(avail)"></availability-card>
                    </div>
                </div>
                <div class="row" ng-show="availsMornings.length > morningsLimit">
                    <div class="col-xs-12 text-center"><a href ng-click="seeMore(availsMornings)">See more...</a></div>
                </div>
            </div>
        </div>

        <!-- Afternoon Availabilities -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Afternoon Availabilities</h3>
            </div>
            <div class="panel-body">
                <div class="row avail-group">
                    <div class="col-sm-4" ng-repeat="avail in availsAfternoons | limitTo: afternoonsLimit">
                        <availability-card moment="avail" disabled="refreshingData" ng-click="makeAppointment(avail)"></availability-card>
                    </div>
                </div>
                <div class="row" ng-show="availsAfternoons.length > afternoonsLimit">
                    <div class="col-xs-12 text-center"><a href ng-click="seeMore(availsAfternoons)">See more...</a></div>
                </div>
            </div>
        </div>

        <!-- Availabilities in a week or so -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Availabilities in a week or so</h3>
            </div>
            <div class="panel-body">
                <div class="row avail-group">
                    <div class="col-sm-4" ng-repeat="avail in availsLater | limitTo: laterLimit">
                        <availability-card moment="avail" disabled="refreshingData" ng-click="makeAppointment(avail)"></availability-card>
                    </div>
                </div>
                <div class="row" ng-show="availsLater.length > laterLimit">
                    <div class="col-xs-12 text-center"><a href ng-click="seeMore(availsLater)">See more...</a></div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="tab === 0 && myAppts.length >= 4">
        <div class="alert alert-warning">You can schedule up to four appointments at a time.<br />Please <a href ng-click="tab = 1">cancel an appointment</a> before booking another one.</div>
    </div>

    <!-- Appointments tab -->
    <div ng-show="tab === 1">
        <div ng-show="myAppts.length === 0" class="alert alert-danger"><strong>You have no appointments.</strong>. Why don't we <a href ng-click="tab = 0">set something up?</a></div>

        <div class="row" ng-show="myAppts.length > 0">
            <div class="col-xs-12">
                <h2 class="first-h">You're booked.</h2>
                <p>You can schedule with your coach up to 4 appointments in advance.<br/>Here's what we have for you.</p>
            </div>
        </div>

        <div class="row appt-group">
            <div class="col-sm-4" ng-repeat="appt in myAppts">
                <appointment-card appt="appt" on-cancel-appt="cancelAppointment(appt)" coach-name="coachName" disabled="refreshingData"></appointment-card>
            </div>
            <div class="col-sm-4" ng-click="tab = 0">
                <div class="add-appt-btn"><i class="glyphicon glyphicon-plus"></i></div>
            </div>
        </div>
    </div>
</div>

